@page "/"
@using Finance_Monitor.Components.Shared
@rendermode InteractiveServer

<PageTitle>Dashboard - Finance Monitor</PageTitle>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                @currentYear - Incomes and Expenses
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="card-body">
                        <BarChart></BarChart>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="card-body not-authorized">
                        Please&nbsp;<a href="/Account/Login">sign in</a>&nbsp;or&nbsp;<a href="/Account/Register">register</a>&nbsp;to view your financial reports.
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                @MonthToString(currentMonth, currentYear) - Incomes
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="card-body">
                        <PieChart ChartType="incomes"> </PieChart>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="card-body not-authorized">
                        Please&nbsp;<a href="/Account/Login">sign in</a>&nbsp;or&nbsp;<a href="/Account/Register">register</a>&nbsp;to view your financial reports.
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                @MonthToString(currentMonth, currentYear) - Expenses
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="card-body">
                        <PieChart ChartType="expenses"> </PieChart>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="card-body not-authorized">
                        Please&nbsp;<a href="/Account/Login">sign in</a>&nbsp;or&nbsp;<a href="/Account/Register">register</a>&nbsp;to view your financial reports.
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>

@code {

    private static int currentYear = DateTime.Today.Year;
    private static int currentMonth = DateTime.Today.Month;

    private static string MonthToString(int month, int year)
    {
        return month switch
        {
            1 => $"January {year}",
            2 => $"February {year}",
            3 => $"March {year}",
            4 => $"April {year}",
            5 => $"May {year}",
            6 => $"June {year}",
            7 => $"July {year}",
            8 => $"August {year}",
            9 => $"September {year}",
            10 => $"October {year}",
            11 => $"November {year}",
            12 => $"December {year}",
            _ => throw new NotImplementedException(),
        };
    }

}

